In [1]:
x = 10
a, b, c=100,200,300
print(x)
print(a,b,c)

10
100 200 300

In [2]:
x = 20
print(x)
print(a,b,c)

20
100 200 300

# 자료형

In [3]:
type(10)

int

In [4]:
type(3.5)

float

# 연산자

In [5]:
a = 10
b = 20
a*b

200

In [6]:
a/b
a+b
a-b

-10

In [7]:
a = 2
b = 3

a**b

8

In [8]:
a//b # '//'은 나누었을 때 몫만 가져오는

0

In [9]:
10 % 3 # '%'은 나누었을 때 나머지만 가져오는

1

In [10]:
1+3*5

16

In [11]:
(1+3)*5

20

In [12]:
3 + 3.0 # 정수+실수=실수. 실수 범위가 더 넓기 때문에 실수로 반환됨. 이것을 형 변환이라고 말함

6.0

In [13]:
a,b = 7, 3.0

c = a//b
d = a%b
e = a**b

print(c)
print(d)
print(e)

2.0
1.0
343.0

In [14]:
mike = 80
judy = 75
sera = 100

print(int((mike+judy+sera)/3))

85

In [15]:
2<1

False

In [16]:
2>1

True

In [17]:
2==5

False

In [18]:
4!=4

False

In [19]:
1 == '1'

False

In [20]:
1 == int("1")

True

In [21]:
(1<2) and (-1>2) # and 모두 참이어야 참

False

In [22]:
(1<5) or (10==14)   # or 하나라도 참이면 모두 참

True

In [23]:
not((1<2) and (-1>2))

True

In [24]:
print(bool(1))
print(bool(-1))

True
True

In [25]:
print(bool(0))
print(bool(0.0))

False
False

In [26]:
#비교연산자 문제
n1 = int(input('입력1: '))
n2 = int(input('입력2: '))
n3 = int(input('입력3: '))


n1> 65 and n2>65 and n3>65

입력1:

ValueError: invalid literal for int() with base 10: ''

# None

In [28]:
x = None
print(x)
print(type(x))

None
<class 'NoneType'>

# 문자열

In [30]:
single = "안녕하세여?"
print(single)
print(type(single))

안녕하세여?
<class 'str'>

In [33]:
# """"""이걸 사용하면 여러 줄의 문자를 변수로 만들 수 잇음

multi = """안녕하세요
잘 부탁드려요
헤헤헤
"""

print(multi)
print(type(multi))

안녕하세요
잘 부탁드려요
헤헤헤

<class 'str'>

In [34]:
a = 'hello'
b = 'woooooorld'

a + b

'hellowoooooorld'

In [35]:
a*3

'hellohellohello'

In [36]:
print('hello\nworld') # 이스케이프 코드 \n

hello
world

In [37]:
print('hello\tworld') # \t는 tab을 의미함 tab 만큼 거리를 띄움

hello	world

In [38]:
print('hello\\world')

hello\world

In [47]:
quote = 'hello world!'
print(quote[1])
print(quote[0])
print(quote[5])
print(quote[-2])
print(quote[1:4])
print(quote[1:9:3])

e
h

d
ell
eoo

In [49]:
q = "가나다라마바사아자차카타파하"
print(q[1:15:3])

나마아카하

In [68]:
q[4:]

'마바사아자차카타파하'

In [147]:
a = '124qae124124'

a = a[::-1]
a

'421421eaq421'

# 문자열 서식 문자

In [50]:
intro = '안녕하세요 저는 %s입니다.' %'시뉸수'
print(intro)

안녕하세요 저는 시뉸수입니다.

In [51]:
name= '김민수'
intro = '안녕하세요 저는 %s입니다.' %name
print(intro)

안녕하세요 저는 김민수입니다.

In [52]:
name = '김민수'

intro = '안녕하세요 저는 %s입니다.'
print(intro%name)

안녕하세요 저는 김민수입니다.

In [55]:
age = 4

intro = '안녕하세요 제 정신연령은 %d세 입니다.'
print(intro%age)

안녕하세요 제 정신연령은 4세 입니다.

In [56]:
height = 170

intro = '안녕하세요 제 키는 %fcm 입니다.'
print(intro%height)

안녕하세요 제 키는 170.000000cm 입니다.

In [58]:
height = 170

intro = '안녕하세요 제 키는 %.1fcm 입니다.'
print(intro%height)

안녕하세요 제 키는 170.0cm 입니다.

In [62]:
q2= '저는 %s이고 제 키는 %s입니다'%('김바바','150')
q2

'저는 김바바이고 제 키는 150입니다'

In [64]:
q3 = '저는 {0}이고 , 키는 {1}입니다.'.format('김바부','151')
q3

'저는 김바부이고 , 키는 151입니다.'

## f문자열 -> 편리함 3.6버전부터 사용

In [65]:
name='김차차'
loc= '서울'

intro = f"저는 {name}이고 {loc}에 삽니다"
print(intro)

저는 김차차이고 서울에 삽니다

### 연습문제

In [82]:
a = "20190505chicken19000"

year = a[:4]
day = a[4:8]
menu = a[8:15]
money = a[-5:]


print(year)
print(day)
print(menu)
print(money)

print(year, day, menu, money, sep=',')

2019
0505
chicken
19000
2019,0505,chicken,19000

In [89]:
a='90:30:80'

math = int(a[:2])
english = int(a[3:5])
science = int(a[6:8])

print(math, english, science)

average= (math+english+science)/3
average

90 30 80

66.66666666666667

# 문자열 함수

In [92]:
quote = 'my best career partner'
len(quote)

quote2 = 'hello'
b = len(quote2)
print(b)

5

In [95]:
print(quote.index('a'))

type(quote.index('a'))

9

int

In [98]:
upper_quote = quote.upper()
upper_quote

'MY BEST CAREER PARTNER'

In [100]:
upper_quote.lower()

'my best career partner'

In [102]:
quote2.replace('he','hi')

'hillo'

In [103]:
"pear, apple, banana, orange".replace('pear',"mango")

'mango, apple, banana, orange'

In [104]:
quote

'my best career partner'

In [105]:
quote.count('e')

4

In [106]:
quote.count(' ')

3

In [107]:
quote.count('m')

1

In [108]:
quote.count('a')

2

In [109]:
quote

'my best career partner'

In [111]:
quote = '    '+ quote
quote

'        my best career partner'

In [113]:
quote.strip()

'my best career partner'

In [115]:
quote.lstrip()

'my best career partner'

In [116]:
quote = quote+'      '
quote

'        my best career partner      '

In [117]:
quote.rstrip()

'        my best career partner'

In [122]:
fruits = 'pear,apple,grape,mango,watermelon'
fruit_list=fruits.split(',')
fruit_list

['pear', 'apple', 'grape', 'mango', 'watermelon']

In [123]:
type(fruit_list)

list

In [124]:
fruit_list[1]

'apple'

In [125]:
len(fruit_list)

5

In [127]:
";".join(fruit_list)

'pear;apple;grape;mango;watermelon'

In [134]:
a = "  90:30:80  "

a=a.strip()
a

b = math, english, science = a.split(":")
print(type(b))


average= (int(math)+int(english)+int(science))/len(b)
average

<class 'list'>

66.66666666666667

In [135]:
a = [1,2,3,'a','b','c']
a

[1, 2, 3, 'a', 'b', 'c']

In [136]:
type(a)

list

In [137]:
tuple_a = (1,2,3,'a','b','c')
tuple_a

(1, 2, 3, 'a', 'b', 'c')

In [138]:
type(tuple_a)

tuple

In [139]:
a[0] = 0
a

[0, 2, 3, 'a', 'b', 'c']

In [140]:
tuple_a[0]

1

In [141]:
tuple_a[0] = 51512
tuple_a

TypeError: 'tuple' object does not support item assignment

In [142]:
dict_me = {
    'name' : '김차차',
    'height' : '110',
    'loc' : '차차랜드',
}

dict_me

{'name': '김차차', 'height': '110', 'loc': '차차랜드'}

In [143]:
dict_me['name']

'김차차'

In [144]:
dict_me['height']

'110'

In [145]:
dict_me['loc']

'차차랜드'

## 리스트와 튜플

In [148]:
a = [1,2,3,4]
b = (1,2,3,4)

print(a[2])
print(b[2])

3
3

## range 함수

In [156]:
range(10) # 0부터 10개의 수를 만들라는 코드

range(0, 10)

In [151]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [152]:
range(2,10)

range(2, 10)

In [153]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [154]:
list(range(2,10,2))

[2, 4, 6, 8]

In [159]:
list(range(10,2,-2))

[10, 8, 6, 4]

# 리스트

In [160]:
list1 = ['a','b','c','d']

list1[3]

'd'

In [161]:
list1[-2]

'c'

In [162]:
list1[:2]

['a', 'b']

In [163]:
list1

['a', 'b', 'c', 'd']

In [165]:
del list1[1]
list1

# 리스트 요소 제거하는 함수 del

['a', 'd']

In [166]:
a = ['a','b','c']
a*3

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [167]:
b = ['d','e','f']
a+b

['a', 'b', 'c', 'd', 'e', 'f']

In [168]:
len(b)

3

In [169]:
'd' in b

True

In [190]:
empty_list = []
empty_list.append(1)
empty_list

[1]

In [191]:
len(empty_list)

1

In [192]:
empty_list.append(3)
empty_list

[1, 3]

In [193]:
empty_list.pop()

3

In [194]:
empty_list

[1]

In [195]:
num = empty_list.extend(['a','b','c'])
empty_list

[1, 'a', 'b', 'c']

In [204]:
a = [1]
new_list = ['a','b','c']

a=a + new_list

In [205]:
a

[1, 'a', 'b', 'c']

In [206]:
a.insert(2,1000)
a

[1, 'a', 1000, 'b', 'c']

In [207]:
a.remove('a')
a

[1, 1000, 'b', 'c']

In [208]:
a.index(1000)

1

In [228]:
a.index('c')

AttributeError: 'NoneType' object has no attribute 'index'

In [229]:
a = [1,2,2,3,3,3]
a.count(1)

1

In [230]:
a.count(3)

3

In [237]:
sort_list = [3,1,5,2,88,12]
sort_list

[3, 1, 5, 2, 88, 12]

In [238]:
sort_list.sort(reverse=True)
sort_list

[88, 12, 5, 3, 2, 1]

In [239]:
sort_list.sort(reverse=False)
sort_list

[1, 2, 3, 5, 12, 88]

# list복사

In [247]:
a=10
b=a
b

10

In [248]:
# a = a+1
# a += 1

b = b+1
print(a)
print(b)

10
11

In [249]:
list_a = [1,2,3,4]
list_a

[1, 2, 3, 4]

In [256]:
list_b = list_a.copy()
list_b

[1, 2, 3, 4]

In [257]:
list_b[2] = 5
print(list_a)

print(list_b)

[1, 2, 3, 4]
[1, 2, 5, 4]

## 다차원 리스트

In [258]:
dim2_list = [[1,2],[3,4]]
dim2_list

[[1, 2], [3, 4]]

In [259]:
len(dim2_list)

2

In [260]:
dim2_list[0]

[1, 2]

In [261]:
dim2_list[1]

[3, 4]

In [263]:
type(dim2_list)

list

In [264]:
import copy
dim2_b_list = copy.deepcopy(dim2_list)
dim2_b_list

[[1, 2], [3, 4]]

In [266]:
# tuple사용한 새로운아이디어. 리스트할당과 복사
a = [1,2]
b = tuple(a)

c = list(b)
c.append(1)
c

[1, 2, 1]

In [267]:
a

[1, 2]

In [268]:
dim2_list[1][0]

3

# 딕셔너리

In [270]:
a = {
    'name':'tom',
    'english':80,
    'math':90,
    
}

print(a)

{'name': 'tom', 'english': 80, 'math': 90}

In [271]:
type(a)

dict

In [272]:
b = dict(name='tom',
         english=80,
         math=99)
b

{'name': 'tom', 'english': 80, 'math': 99}

In [273]:
type(b)

dict

In [274]:
'name' in b

True

In [275]:
len(b)

3

In [34]:
# dict 의 value 값에 다른 dict와 list가능

b = dict(name='tom',
        score={
            'math':89,
            'eng':14,
        }
        )


b

{'name': 'tom', 'score': {'math': 89, 'eng': 14}}

In [35]:
b['score']['science']=100
b

{'name': 'tom', 'score': {'math': 89, 'eng': 14, 'science': 100}}

In [38]:
len(b)

2

# 05.27

In [42]:
my_tuple= (1,2,3,4,5)
type(my_tuple)

tuple

In [44]:
my_tuple2= (1,)
type(my_tuple2)

tuple

## 연산자 보충

In [49]:
a=1

In [50]:
a =a+1
print(a)

2

In [51]:
a +=1
print(a)

3

In [52]:
a -=1
print(a)

2

In [53]:
a*=4
print(a)

8

In [82]:
a_dict=dict(
    adf = "dfdf",
    sgdg = "sgsdg",
    sghas = 'sdgasg'
)

In [54]:
from pprint import pprint

In [65]:
pprint(a_dict)

{'adf': 'dfdf', 'sgdg': 'sgsdg', 'sghas': 'sdgasg'}

## copy

In [66]:
a = list(range(5))
a

[0, 1, 2, 3, 4]

In [67]:
b = a.copy()
b

[0, 1, 2, 3, 4]

In [68]:
b[0]=5
print(a)
print(b)

[0, 1, 2, 3, 4]
[5, 1, 2, 3, 4]

## dict 값추가

In [69]:
a_dict

{'adf': 'dfdf', 'sgdg': 'sgsdg', 'sghas': 'sdgasg'}

In [86]:
a_dict["ㄱㄱ"]=50

In [71]:
a_dict

{'adf': 'dfdf', 'sgdg': 'sgsdg', 'sghas': 'sdgasg', 'ㄱㄱ': 50}

### dict에서 모든 key,value값 확인하기

In [75]:
a_dict_keys=a_dict.keys()
a_dict_keys

dict_keys(['adf', 'sgdg', 'sghas', 'ㄱㄱ'])

In [76]:
a_dict_values=a_dict.values()
a_dict_values

dict_values(['dfdf', 'sgsdg', 'sdgasg', 50])

### get함수

In [77]:
# 특정 key에서 value가 비어있을 경우
# 오류방지를 위해 사용. ex) default

In [87]:
a_dict_ = a_dict.get('ㄱㄱ')
print(a_dict_)

50

# 딕셔너리 2

In [88]:
a_dict

{'adf': 'dfdf', 'sgdg': 'sgsdg', 'sghas': 'sdgasg', 'ㄱㄱ': 50}

In [89]:
suzi = dict(name='suzi',
            age='22',
            birth='1111',
            height='155.5',
)

In [90]:
suzi.setdefault("age",21)
# 이미 age값이 있으므로 setdefault해도 변화 없음

'22'

In [95]:
suzi.update({"age":33})
# update함수를 사용해서 이미 존재하는 value값을 변경함

In [96]:
suzi

{'name': 'suzi', 'age': 33, 'birth': '1111', 'height': '155.5'}

In [97]:
suzi.setdefault("height",50)
# 이미 height값이 있으므로 setdefault해도 값 추가되지 않음

'155.5'

In [98]:
suzi.setdefault("weight",50)
# 존재하지 않던 키 weight와 그 값이 추가됨

50

# 집합 Set

In [100]:
a = {}
type(a)

dict

## 집합의 연산

In [101]:
#집합선언
s1 = {1,2,3}
s2 = {2,4,5}

In [104]:
# 교집합
print(s1 & s2)
print(s1.intersection(s2))

# 위의 두 가지가 모두 같음

{2}
{2}

In [108]:
# 합집합

print(s1|s2)
print(s1.union(s2))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [109]:
# 차집합

print(s1-s2)
print(s1.difference(s2))

{1, 3}
{1, 3}

In [112]:
s1 = {1,2,3}
s2 = {0,1,2,3,4,5}

In [113]:
s1 <= s2

True

In [115]:
s1 >= s2

False

In [116]:
# 부분집합
s1.issubset(s2)

True

In [118]:
# 상위집합

s2.issuperset(s1)

True

In [120]:
# 겹치는 요소 확인하기

s1= {1,2,3}
s2 = {4,5,6}

s1.isdisjoint(s2)

True

In [121]:
s1.add(5)
s1

{1, 2, 3, 5}

In [122]:
s1.discard(2)
s1

{1, 3, 5}

In [125]:
s2.remove(5)
s2

KeyError: 5

# if 조건문

In [126]:
a= 10

if a==5:
    print("a는 5입니다")
    
if a == 10:
    print("a는 10입니다")

a는 10입니다

In [127]:
"""pass문은 아무것도 하지 않는다
문법적으로 문장이 필욯자ㅣ만, 프로그램이 특별히 할 일이 없을 때 사용"""

'pass문은 아무것도 하지 않는다\n문법적으로 문장이 필욯자ㅣ만, 프로그램이 특별히 할 일이 없을 때 사용'

In [128]:
a = 10
if a==10:
    pass

print("코드가 실행되었습니다")

코드가 실행되었습니다

## 어떤 것도 조건이 될 수 있다

In [130]:
string1= "배고프다"

In [131]:
if string1:
    print("실행되엇습니다")

실행되엇습니다

In [134]:
l1= []

In [137]:
if l1:
    print("비엇네?")
    
if not l1:
    print("비었다")

비었다

In [138]:
if None:
    print("이건 none이다")
    
#실행안됨

In [139]:
if type(string1)==type(str()):
    print("string1은 str타입입니다")

string1은 str타입입니다

## elif와 else

### else

In [ ]:
alpa = input("알파벳하ㄴ만입력")

if alpa == 'A':
    print("alpa는 A")

### IF 연습문제1

In [156]:
a = int(input("첫 번째 숫자: "))
b = int(input("두 번재 숫자: "))
c = int(input("세 번재 숫자: "))

# print(a>65 and b >65 and c>65)

if(a not in range(101)) or (b not in range(101)) or (c not in range(101)):
    print("잘못된점수")

elif a>65 and b >65 and c>65:
    print("합격")
    
else: 
    print("불합격")

첫 번째 숫자: 111
두 번재 숫자: 111
세 번재 숫자: 222
잘못된점수

### if 연습문제 2

In [2]:
# 홀수짝수 판별기, 0은 짝수라 한다

a = int(input("정수 입력하기"))


if a==0:
    print("0은 애매합니다")

elif a % 2 == 1:
    print("홀수")
    
else:
    print("짝수")

정수 입력하기0
0은 애매합니다

# 반복문 for

In [10]:
for i in range(10):
    print('현재값: ',i)

현재값:  0
현재값:  1
현재값:  2
현재값:  3
현재값:  4
현재값:  5
현재값:  6
현재값:  7
현재값:  8
현재값:  9

### for문 with list

In [14]:
for i in [1,2,3,4,5]:
    print('현재 값: ',i)

현재 값:  1
현재 값:  2
현재 값:  3
현재 값:  4
현재 값:  5

### for문 with dict

In [132]:
minsu={
    'height' : 110,
    "age" : 5,
    "weight" : 55
}

In [133]:
for k in minsu:
    print(k)

height
age
weight

In [141]:
# value값 출력
for k in minsu:
    #print(k)
    print(minsu[k])
    
    
    
"""
[k]에는 minsu의 key값인 heigt, age, weight가 순서대로 들어감
"""

110
5
55

'\n[k]에는 minsu의 key값인 heigt, age, weight가 순서대로 들어감\n'

### for 연습문제1

In [25]:
a = int(input("정수 입력하새오"))

for i in range(a):
    print("안녕")

정수 입력하새오4
안녕
안녕
안녕
안녕

### for 연습문제 2

In [33]:
# 정수 입력받아 그 수만큼 별 찍기

a = int(input("정수 입력하새오"))

for i in range(a+1):
    print("*"*i)

정수 입력하새오10

*
**
***
****
*****
******
*******
********
*********
**********

### range(1, a+1) 1부터 시작해서 a+1까지

In [34]:
# range(1, a+1) 1부터 시작해서 a+1까지

a = int(input("정수 입력하새오"))

for i in range(1, a+1):
    print("*"*i)

정수 입력하새오5
*
**
***
****
*****

### for 연습문제 3

In [39]:
# 별 역순으로 찍기

a = int(input("정수 입력하새오"))

for i in range(a,0,-1):
    print("*"*i)

정수 입력하새오10
**********
*********
********
*******
******
*****
****
***
**
*

### enumerate 사용하여 index접근

In [40]:



a=['a','b','c','d','e','f','g']

In [41]:
for idx, value in enumerate(a):
    print(idx, value)

0 a
1 b
2 c
3 d
4 e
5 f
6 g

### for문 중첩

In [47]:
for i in range(10):
    print('='*10)
    
    print(i, "번째 iloop")
    
    print('='*10)
    
    for j in range(10):
        
    
        print(j, "번째 jloop")

==========
0 번째 iloop
==========
0 번째 jloop
1 번째 jloop
2 번째 jloop
3 번째 jloop
4 번째 jloop
5 번째 jloop
6 번째 jloop
7 번째 jloop
8 번째 jloop
9 번째 jloop
==========
1 번째 iloop
==========
0 번째 jloop
1 번째 jloop
2 번째 jloop
3 번째 jloop
4 번째 jloop
5 번째 jloop
6 번째 jloop
7 번째 jloop
8 번째 jloop
9 번째 jloop
==========
2 번째 iloop
==========
0 번째 jloop
1 번째 jloop
2 번째 jloop
3 번째 jloop
4 번째 jloop
5 번째 jloop
6 번째 jloop
7 번째 jloop
8 번째 jloop
9 번째 jloop
==========
3 번째 iloop
==========
0 번째 jloop
1 번째 jloop
2 번째 jloop
3 번째 jloop
4 번째 jloop
5 번째 jloop
6 번째 jloop
7 번째 jloop
8 번째 jloop
9 번째 jloop
==========
4 번째 iloop
==========
0 번째 jloop
1 번째 jloop
2 번째 jloop
3 번째 jloop
4 번째 jloop
5 번째 jloop
6 번째 jloop
7 번째 jloop
8 번째 jloop
9 번째 jloop
==========
5 번째 iloop
==========
0 번째 jloop
1 번째 jloop
2 번째 jloop
3 번째 jloop
4 번째 jloop
5 번째 jloop
6 번째 jloop
7 번째 jloop
8 번째 jloop
9 번째 jloop
==========
6 번째 iloop
==========
0 번째 jloop
1 번째 jloop
2 번째 jloop
3 번째 jloop
4 번째 jloop
5 번째 jloop
6 번째 jloop
7 번째 jloop
8 번째 jloop
9 번째 jloop
==========
7 번째 iloop
==========
0 번째 jloop
1 번째 jloop
2 번째 jloop
3 번째 jloop
4 번째 jloop
5 번째 jloop
6 번째 jloop
7 번째 jloop
8 번째 jloop
9 번째 jloop
==========
8 번째 iloop
==========
0 번째 jloop
1 번째 jloop
2 번째 jloop
3 번째 jloop
4 번째 jloop
5 번째 jloop
6 번째 jloop
7 번째 jloop
8 번째 jloop
9 번째 jloop
==========
9 번째 iloop
==========
0 번째 jloop
1 번째 jloop
2 번째 jloop
3 번째 jloop
4 번째 jloop
5 번째 jloop
6 번째 jloop
7 번째 jloop
8 번째 jloop
9 번째 jloop

### for 연습문제 2-1

In [121]:
# 모든 요소에 10을 곱한 뒤 출력하세요.


x = [3,6,9,20,-7,5]

for i in x:
    print(10*i)

30
60
90
200
-70
50

In [79]:
# 심화

x = [3,6,9,20,-7,5]

for idx, val in enumerate(x):
    x[idx] *= 10

print(x)

[30, 60, 90, 200, -70, 50]

### for 연습문제 2-2

In [128]:
# dict에서 value갑 확인하는 방법


y = {"math":70, "science":80, "english":20}
#print(y.value())

print(y)

for i in y:
    print(y[i])

{'math': 70, 'science': 80, 'english': 20}
70
80
20

In [137]:
# 문제풀이

y = {"math":70, "science":80, "english":20}
#print(y.value())


for i in y:
    print(y[i]+10)

80
90
30

In [140]:
# 심화


y = {"math":70, "science":80, "english":20}

for i in y:
    y[i] += 10
    
print(y)

{'math': 80, 'science': 90, 'english': 30}

### for 연습문제 2-3

In [107]:
a = int(input("정수 입력하세오"))


for i in range(1,10):
    print(a*i)

정수 입력하세오6
6
12
18
24
30
36
42
48
54

In [168]:
a = int(input("정수 입력하세오"))


for x in range(1,10):
    print(a,'*',x,'=',a*x)
    #또는
    print(f'{a}*{x} = {a*x}')

정수 입력하세오3
3 * 1 = 3
3*1 = 3
3 * 2 = 6
3*2 = 6
3 * 3 = 9
3*3 = 9
3 * 4 = 12
3*4 = 12
3 * 5 = 15
3*5 = 15
3 * 6 = 18
3*6 = 18
3 * 7 = 21
3*7 = 21
3 * 8 = 24
3*8 = 24
3 * 9 = 27
3*9 = 27

### for 연습문제 3

In [172]:
word = ["school",'game','piano','science','hotel','mountain']
new_word=[]

print(len(word[0]))

for i in word:
    if len(i) >= 6 :
        new_word.append(i)
        
    else: 
        pass

print(new_word)

6
['school', 'science', 'mountain']

In [199]:
for i in range(1,10):
    for j in range(1,10):
        #print(i*j)
        print(i,'*',j,'=',i*j)
    print("-"*10, "%s단 끝" % i)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
---------- 1단 끝
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
---------- 2단 끝
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
---------- 3단 끝
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
---------- 4단 끝
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
---------- 5단 끝
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
---------- 6단 끝
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
---------- 7단 끝
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
---------- 8단 끝
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
---------- 9단 끝

### 연습문제 4

In [189]:
# print(15%3)
# print(16%3)
# print(64%3)
# print(64%15)


for i in range(1,101):
    if (i%15)== 0:
        print(i,"는 3과5의 공배수")
        
    elif (i%3) == 0:
        print(i, "는 3의 배수")
    
    elif (i%5) == 0:
        print(i, '는 5의 배수')
        
    else:
        print(i)

1
2
3 는 3의 배수
4
5 는 5의 배수
6 는 3의 배수
7
8
9 는 3의 배수
10 는 5의 배수
11
12 는 3의 배수
13
14
15 는 3과5의 공배수
16
17
18 는 3의 배수
19
20 는 5의 배수
21 는 3의 배수
22
23
24 는 3의 배수
25 는 5의 배수
26
27 는 3의 배수
28
29
30 는 3과5의 공배수
31
32
33 는 3의 배수
34
35 는 5의 배수
36 는 3의 배수
37
38
39 는 3의 배수
40 는 5의 배수
41
42 는 3의 배수
43
44
45 는 3과5의 공배수
46
47
48 는 3의 배수
49
50 는 5의 배수
51 는 3의 배수
52
53
54 는 3의 배수
55 는 5의 배수
56
57 는 3의 배수
58
59
60 는 3과5의 공배수
61
62
63 는 3의 배수
64
65 는 5의 배수
66 는 3의 배수
67
68
69 는 3의 배수
70 는 5의 배수
71
72 는 3의 배수
73
74
75 는 3과5의 공배수
76
77
78 는 3의 배수
79
80 는 5의 배수
81 는 3의 배수
82
83
84 는 3의 배수
85 는 5의 배수
86
87 는 3의 배수
88
89
90 는 3과5의 공배수
91
92
93 는 3의 배수
94
95 는 5의 배수
96 는 3의 배수
97
98
99 는 3의 배수
100 는 5의 배수

In [2]:
# 심화


a = int(input("숫자를 입력하세요"))


for i in range(1,a+1):
    if (i%15)== 0:
        print(i,"는 3과5의 공배수")
        
    elif (i%3) == 0:
        print(i, "는 3의 배수")
    
    elif (i%5) == 0:
        print(i, '는 5의 배수')
        
    else:
        print(i)

숫자를 입력하세요150
1
2
3 는 3의 배수
4
5 는 5의 배수
6 는 3의 배수
7
8
9 는 3의 배수
10 는 5의 배수
11
12 는 3의 배수
13
14
15 는 3과5의 공배수
16
17
18 는 3의 배수
19
20 는 5의 배수
21 는 3의 배수
22
23
24 는 3의 배수
25 는 5의 배수
26
27 는 3의 배수
28
29
30 는 3과5의 공배수
31
32
33 는 3의 배수
34
35 는 5의 배수
36 는 3의 배수
37
38
39 는 3의 배수
40 는 5의 배수
41
42 는 3의 배수
43
44
45 는 3과5의 공배수
46
47
48 는 3의 배수
49
50 는 5의 배수
51 는 3의 배수
52
53
54 는 3의 배수
55 는 5의 배수
56
57 는 3의 배수
58
59
60 는 3과5의 공배수
61
62
63 는 3의 배수
64
65 는 5의 배수
66 는 3의 배수
67
68
69 는 3의 배수
70 는 5의 배수
71
72 는 3의 배수
73
74
75 는 3과5의 공배수
76
77
78 는 3의 배수
79
80 는 5의 배수
81 는 3의 배수
82
83
84 는 3의 배수
85 는 5의 배수
86
87 는 3의 배수
88
89
90 는 3과5의 공배수
91
92
93 는 3의 배수
94
95 는 5의 배수
96 는 3의 배수
97
98
99 는 3의 배수
100 는 5의 배수
101
102 는 3의 배수
103
104
105 는 3과5의 공배수
106
107
108 는 3의 배수
109
110 는 5의 배수
111 는 3의 배수
112
113
114 는 3의 배수
115 는 5의 배수
116
117 는 3의 배수
118
119
120 는 3과5의 공배수
121
122
123 는 3의 배수
124
125 는 5의 배수
126 는 3의 배수
127
128
129 는 3의 배수
130 는 5의 배수
131
132 는 3의 배수
133
134
135 는 3과5의 공배수
136
137
138 는 3의 배수
139
140 는 5의 배수
141 는 3의 배수
142
143
144 는 3의 배수
145 는 5의 배수
146
147 는 3의 배수
148
149
150 는 3과5의 공배수

In [5]:
# 심화 2


a = int(input("숫자를 입력하세요"))

b = int(input("x의 배수를 알고싶다"))
c = int(input("y의 배수를 알고싶다"))

for i in range(1,a+1):
    if (i%(b*c))== 0:
        print(i,"는",b,"그리고",c,"의 공배수")
        
    elif (i%b) == 0:
        print(i, "는 ",b,"의 배수")
    
    elif (i%c) == 0:
        print(i, "는 ",c,"의 배수")
        
    else:
        print(i)

숫자를 입력하세요165
x의 배수를 알고싶다6
y의 배수를 알고싶다9
1
2
3
4
5
6 는  6 의 배수
7
8
9 는  9 의 배수
10
11
12 는  6 의 배수
13
14
15
16
17
18 는  6 의 배수
19
20
21
22
23
24 는  6 의 배수
25
26
27 는  9 의 배수
28
29
30 는  6 의 배수
31
32
33
34
35
36 는  6 의 배수
37
38
39
40
41
42 는  6 의 배수
43
44
45 는  9 의 배수
46
47
48 는  6 의 배수
49
50
51
52
53
54 는 6 그리고 9 의 공배수
55
56
57
58
59
60 는  6 의 배수
61
62
63 는  9 의 배수
64
65
66 는  6 의 배수
67
68
69
70
71
72 는  6 의 배수
73
74
75
76
77
78 는  6 의 배수
79
80
81 는  9 의 배수
82
83
84 는  6 의 배수
85
86
87
88
89
90 는  6 의 배수
91
92
93
94
95
96 는  6 의 배수
97
98
99 는  9 의 배수
100
101
102 는  6 의 배수
103
104
105
106
107
108 는 6 그리고 9 의 공배수
109
110
111
112
113
114 는  6 의 배수
115
116
117 는  9 의 배수
118
119
120 는  6 의 배수
121
122
123
124
125
126 는  6 의 배수
127
128
129
130
131
132 는  6 의 배수
133
134
135 는  9 의 배수
136
137
138 는  6 의 배수
139
140
141
142
143
144 는  6 의 배수
145
146
147
148
149
150 는  6 의 배수
151
152
153 는  9 의 배수
154
155
156 는  6 의 배수
157
158
159
160
161
162 는 6 그리고 9 의 공배수
163
164
165